$green-color: #598A00;
$white-color: #fff;
$blue-color: #0000D9;
$blue-dark: #1A0066;
$gray: #6b6b6b;
$font-family: 'Montserrat', sans-serif;
$base-size: 10px;

body,html{
  width: 100%; height: 100%;
  font-family: $font-family;
  font-size: $base-size;
  font-color: $gray;
}

ul{
	list-style: none;
}

.centered-col{
	float: none;
	margin: 0 auto;
}

.no-float{
	float: none;
}

.fa, h3{

		.green &{
			color: $green-color;
		}
		.blue &{
			color: $blue-color;
		}
		.dark &{
			color: $blue-dark;
		}
}

.princ-cont{
	padding-top: 10 * $base-size;
	padding-bottom: 8 * $base-size;

	.fa{
		font-size: 8 * $base-size;
		margin-bottom: 4.5 * $base-size;
	}

	h3{
		margin-bottom: 5 * $base-size;
	}

	p{
		width: 20 * $base-size;
		margin: 0 auto;
		font-size: 1.4 * $base-size;
		color: $gray;
	}
}

.header{
	position: relative;
	min-height: 60 * $base-size;
	overflow: hidden; 
	background: url(../img/bg.png) no-repeat center center;
	background-size: cover;
	color: $white-color;

	.container{
		height: 60 * $base-size;
	}

	a{
		color: $white-color;
		text-decoration: none;
	}

	p{
		font-size: 1.4 * $base-size;
	}

	h1{
		font-size: 2 * $base-size;
		line-height: 6 * $base-size;
		margin: 0;

		a{
			color: $white-color;
		}
	}

	#main-nav{
		z-index: 200;
		height: 6 * $base-size;
		overflow: hidden;
		line-height: 6 * $base-size;

		ul{
			font-size: 1.4 * $base-size;
			text-transform: uppercase;
			line-height: 6 * $base-size;
			margin: 0;
			height: 6 * $base-size;

			li{
				display: inline-block;
				padding-left: 1.6 * $base-size;
			}
		}
	}

	.content{
		z-index: 300;
		min-height: 2 * $base-size;
		overflow: hidden;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);

		h2{
			font-size: 5 * $base-size;
			margin-bottom: 8 * $base-size;
		}
	}

	&:after{
		display: block;
		content: " ";
		position: absolute;
		left: 0; top: 0;
		width: 100%;
		min-height: 60 * $base-size;
		background: $green-color;
		opacity: 0.7;
		z-index: 1;
	}
}
