$green-color: #598A00;
$white-color: #fff;
$blue-color: #0000D9;
$blue-dark: #1A0066;
$gray: #6b6b6b;
$resp: #303824;
$font-family: 'Montserrat', sans-serif;
$base-size: 10px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body,html{
  width: 100%; height: 100%;
  font-family: $font-family;
  font-size: $base-size;
  font-color: $gray;
}

ul{
	list-style: none;
}

a{
	opacity: 1;
	cursor: pointer;
	@include transition(all .5s ease);

	&:hover{
		opacity: 0.8;
		@include transition(all .5s ease);

		@media (max-width: 768px){
			opacity: initial;
			@include transition(all .5s ease);
		}
	}
}

.centered-col{
	float: none;
	margin: 0 auto;
}

.no-float{
	float: none;
}

.fa, h3{

		.green &{
			color: $green-color;
		}
		.blue &{
			color: $blue-color;
		}
		.dark &{
			color: $blue-dark;
		}
}

.princ-cont{
	
	padding-bottom: 8 * $base-size;

	.fa{
		font-size: 8 * $base-size;
		margin-bottom: 3.5 * $base-size;
	}

	h3{
		margin-bottom: 4 * $base-size;
	}

	p{
		width: 20 * $base-size;
		margin: 0 auto;
		font-size: 1.4 * $base-size;
		color: $gray;
	}

	.col-md-4{
		padding-top: 10 * $base-size;

		@media (max-width: 460px){
			padding-top: 7 * $base-size;
		}
	}
}

.header{
	position: relative;
	min-height: 60 * $base-size;
	overflow: hidden; 
	background: url(../img/bg.png) no-repeat center center;
	background-size: cover;
	color: $white-color;

	.container{
		height: 60 * $base-size;
	}

	a{
		color: $white-color;
		text-decoration: none;
	}

	p{
		font-size: 1.4 * $base-size;
	}

	h1{
		font-size: 2 * $base-size;
		line-height: 6 * $base-size;
		margin: 0;

		a{
			color: $white-color;
		}
	}

	#main-nav{
		z-index: 200;
		height: 6 * $base-size;
		overflow: hidden;
		line-height: 6 * $base-size;

		ul{
			font-size: 1.4 * $base-size;
			text-transform: uppercase;
			line-height: 6 * $base-size;
			margin: 0;
			height: 6 * $base-size;

			@media (max-width: 460px){
				height: initial;
				width: calc(100% + 30px);
			    clear: both;
			    float: none;
			    min-height: 0px;
			    max-height: 0px;
			    overflow: hidden;
				background: $resp;
				margin-left: -1.5 * $base-size;
				padding-top: 0;
				padding-bottom: 0;
				margin-top: -1 * $base-size;
				@include transition(all .5s ease);

				&.active{
					max-height: 60 * $base-size;
				padding-top: $base-size;
				padding-bottom: $base-size;
				@include transition(all .5s ease);
				}
			}

			li{
				display: inline-block;
				padding-left: 1.6 * $base-size;

				@media (max-width: 460px){
					display: block;
					text-align: left;
					line-height: 2.8em;
					border-bottom: rgba(255,255,255,0.5);
				}
			}
		}

		@media (max-width: 460px){
			height: initial;
			min-height: 20px;
			overflow: hidden;
		}
	}

	.only-resp{
		display: none;
		font-size: 1.6 * $base-size;
		line-height: 6 * $base-size;

		@media (max-width: 460px){
			display: block;
		}
	}

	.content{
		z-index: 300;
		min-height: 2 * $base-size;
		overflow: hidden;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);

		h2{
			font-size: 5 * $base-size;
			margin-bottom: 8 * $base-size;

			@media (max-width: 460px){
				font-size: 3 * $base-size;
				line-height: 1.4em;
			}

			&:after{
				position: relative;
				display: block;
				width: 25%;
				border-bottom: 0.2 * $base-size solid $white-color;
				content: " ";
				padding-top: 3.5 * $base-size;
			}
		}

		@media (max-width: 460px){
			position: relative;
			transform: translateY(0);
			top: 10%;
			@include transition(all .5s ease);

			&.onactive{
				top: 0;
				@include transition(all .5s ease);
			}
		}
	}

	&:after{
		display: block;
		content: " ";
		position: absolute;
		left: 0; top: 0;
		width: 100%;
		min-height: 60 * $base-size;
		background: $green-color;
		opacity: 0.7;
		z-index: 1;
		height: 100%;
	}
}

footer{
	background: $blue-dark;
	color: $white-color;
	padding-top: 7 * $base-size;
	padding-bottom: 4 * $base-size;

	p.under{
		font-size: 1.4 * $base-size;
		margin-bottom: 3 * $base-size;

		&:after{
			position: relative;
				display: block;
				width: 25%;
				border-bottom: 0.2 * $base-size solid $white-color;
				content: " ";
				padding-top: 2.5 * $base-size;
		}
	}

	.foot{
		ul{
			font-size: 1.4 * $base-size;
			text-transform: uppercase;
			line-height: 6 * $base-size;
			margin: 0;
			height: 6 * $base-size;

			li{
				display: inline-block;
				padding-left: 1.6 * $base-size;

				a{
					color: $white-color;
				}
			}

			@media (max-width: 460px){
				display: none;
			}
		}

		.small-text{
			font-size: 1.2 * $base-size;
			line-height: 6 * $base-size;

			@media (max-width: 460px){
				line-height: 1.7em;
			}
		}
	}
}

.container {

	@media (max-width: 460px){
		padding-left: 0;
		padding-right: 0;

		footer &{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
